#!/bin/sh -e

cd <%= work_dir %>
ghdl -i --ieee=synopsys -fexplicit --warn-default-binding --warn-binding --warn-library \
  --warn-body --warn-specs --warn-unused  <%= pathes.join(' ') %>
ghdl -m -Plibs/unisim --ieee=synopsys -fexplicit --warn-default-binding --warn-binding --warn-library \
  --warn-body --warn-specs --warn-unused <%= unit_name %>
ghdl -r <%= unit_name %> --vcd=out.vcd --stop-time=10ms
